html {
  height: 100%;
}

@-ms-viewport {
  width: device-width;
}

.clearfix {
  clear: both;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("../images/cheap_diagonal_fabric.png");
  color: #777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

#main-header {
  flex: 0 0 auto;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
}

header {
  width: 960px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: bold;
}

.logo {
  float: left;
  background-color: #4aaaa5;
  padding: 30px;
  font-size: 30px;
  color: #fff;
}

nav {
  float: right;
  margin: 35px -10px;
}

nav li {
  display: inline;
  padding: 10px;
}

nav {
  color: #777;
}

nav a:link {
  color: #777;
}

nav a:visited {
  color: #777;
}

nav a:hover {
  color: #4aaaa5;
}

nav a:active {
  color: #4aaaa5;
}

.divider {
  color: #ccc;
}

#content-area {
  flex: 1 0 auto;
  width: 960px;
  margin: 40px auto;
}

section {
  float: left;
  width: 588px;
  border: 1px solid #ddd;
  padding: 40px 30px;
  background-color: #fff;
}

h2 {
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid #ddd;
  margin-bottom: 28px;
}

.port-pic {
  width: 200px;
  float: left;
  margin: 0px 25px 20px 0px;
  position: relative;
  top: 10px;
}

p {
  line-height: 34px;
}

aside {
  float: right;
  width: 208px;
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #fff;
}

h3 {
  font-size: 22px;
  padding-bottom: 24px;
  border-bottom: 2px solid #eee;
  margin-bottom: 24px;
}

.social-link {
  width: 62px;
  height: 62px;
  margin: 2px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
}

input, textarea {
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  margin-bottom: 18px;
  padding: 9px;
  color: #ccc;
  font-size: 14px;
}

textarea {
  height: 180px;
  resize: vertical;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
  border: none;
  background-color: #4aaaa5;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 30px;
}

footer {
  flex: 0 0 auto;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  padding: 41px 0px;
  background-color: #666;
  color: #ccc;
  font-size: 12px;
  text-align: center;
}

.project-link-l {
  width: calc(50% - 20px);
  float: left;
}

.project-link-r {
  width: calc(50% - 20px);
  float: right;
}

section img {
  width: 100%;
}

.project-label {
  position: relative;
  bottom: 70px;
  background-color: #4aaaa5;
  color: #fff;
  padding: 19px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}

.hover-greytocolor figure img {
  filter: grayscale(100%);
  transition: .3s ease-in-out;
}

.hover-greytocolor figure:hover img {
  filter: grayscale(0);
}


/*Media Queries*/


/*Screen sizes 980px*/

@media only screen and (max-width: 980px) {
  header {
    width: 728px;
  }
  #content-area {
    width: 728px;
  }
  section {
    width: 358px;
  }
  .port-pic {
    width: 100%;
    float: none;
    position: static;
  }
  .project-link-l {
    width: 100%;
  }
  .project-link-r {
    width: 100%;
  }
}


/*Screen sizes 768px*/

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  .logo {
    margin-left: 20px;
  }
  nav {
    margin: 35px 10px;
  }
  #content-area {
    width: 100%;
    margin: 20px auto;
  }
  section {
    float: none;
    width: auto;
    margin: 0px 20px 40px 20px;
  }
  aside {
    float: none;
    width: auto;
    margin: 20px;
  }
  .port-pic {
    width: 200px;
    float: left;
    position: relative;
    top: 10px;
  }
  .project-link-l {
    width: calc(50% - 20px);
    float: left;
  }
  .project-link-r {
    width: calc(50% - 20px);
    float: right;
  }
}


/*Screen sizes 640px*/

@media only screen and (max-width: 640px) {
  #main-header {
    height: 154px;
  }
  .logo {
    float: none;
    text-align: center;
    margin: 0px;
  }
  nav {
    float: none;
    margin: 25px -10px;
    text-align: center;
  }
  nav li {
    padding: 30px 18px;
  }
  #content-area {
    width: 100%;
    margin: 20px auto;
  }
  section {
    float: none;
    width: auto;
    margin: 0px 20px 40px 20px;
  }
  .port-pic {
    width: 100%;
    float: none;
    position: static;
  }
  .project-link-l {
    width: 100%;
  }
  .project-link-r {
    width: 100%;
  }
}
